root{
    --color-blue: #AFCCED;
}

.button {
    border-radius: 10px !important;


}

.btn-link {
    background-color: var(--color-blue) !important;
    color: white !important;
}

.custom-marquee{
    background-color: var(--color-blue);
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    width: 400px;
    overflow: hidden;
    white-space: nowrap;
    animation: marquee 10s linear infinite;
}

@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}


